.SideDrawer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease-out;

    @media (min-width: 600px){
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
