.Orders {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    padding: 80px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 10px #e2f1ff;
  /*   display: flex;
    flex-direction: column; */
}